<app-not-found [visible]="!food" notFoundmsg="Product Not Found" resetLinkText="Go To HomePage"></app-not-found>
<div *ngIf="food" class="container">
    <img [src]="food.imgUrl" alt="food.name">
</div>
<div class="details">
    <div class="header">
        <span class="name">
            {{food.name}}
        </span>
        <span class="favorite {{food.favorite?'':'not'}}">
            ♥
        </span>
    </div>
    <div class="star">
        <star-rating [value]="food.stars" [totalstars]="5" checkedcolor="red" uncheckedcolor="black" size="24px" [readonly]="true" ></star-rating>

    </div>
    <div class="origins">
        <span *ngFor="let origin of food.origins">
            {{origin}}
        </span>
    </div>
    <div class="tag">
    <app-tag [foodPageTags]="food.tags" justifyContent="start"></app-tag>
</div>
<div class="cook-time">
    <span>Time To cook about <strong>{{food.cooktime}}</strong>Minutes</span>
</div>
<div class="price">
    <span>{{food.price|currency}}</span>
</div>
<button (click)="addToCart()">Add to Cart</button>
</div>